/*@font-face {
	font-family:'';
	src:url('../fonts/.eot');
	src:url('../fonts/.eot?#iefix') format("embedded-opentype"),url('../fonts/.woff2') format("woff2"),url('../fonts/.woff') format("woff"),url('fonts/.ttf') format("truetype"),url('fonts/.svg#robotolight') format("svg");
	font-weight:400;
	font-style:normal;
}
*/
/*
Open Sans
https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans
*/
html{
	width: 100%;
}
body,html {
	margin:0;
	padding:0;
	overflow-x: hidden; 
	font-family: 'Roboto';
}
/*scroll*/
body {
	background-color: white;
}
body::-webkit-scrollbar {
	width:10px
}
body::-webkit-scrollbar * {
	background:transparent
}
body::-webkit-scrollbar-thumb {
	background:#1e1e1e!important
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1,h2,h3{
	line-height:1;
	margin-top:0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
a:focus,a:hover {
	text-decoration:none;
	outline:0
}
p {
	margin-bottom:0
}
img {
	max-width:100%;
	height:auto;
}
.hidden {
    display: none !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

/*mail styles*/

.loginPage {
    background-color: rgb(0, 104, 179);
    position: relative;
    height: 100vh;
}
.contentLogin {
    background-color: white;
    /*margin: 10% 0 5%;*/
    padding: 7% 0;
    /*height: 350px;*/
    box-shadow: 0 0px 18px rgb(0, 0, 0), 0 0px 18px rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 100%;
}
.loginMain {
    position: relative;
    overflow: hidden;
    /*height: 160px;*/
}
.loginContent {
    width: 70%;
/*  position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
    margin: auto;
    left: 0; bottom: 0; right: 0;
}
.loginLogo {
/*  border-right: 1px solid grey;
    padding-right: 15px;*/
}
.loginLogo img {
    padding-bottom: 15px;
    width: 315px;
}
.loginLogo .welcomeContentTitle {
    letter-spacing: 2px;
}
.loginFormContent {
    border-left: 1px solid rgb(192, 192, 192);
    padding-left: 7%;
}
.loginFormContent span {
    font-size: 11px;
    display: block;
}
.loginFormContent .loginFormContentTitle {
    color: rgb(0, 104, 179);
    font-weight: bold;
    font-size: .9em;
    padding-bottom: 3%;
}
.text_uppercase {
    text-transform: uppercase;
}
.loginFormContent input[type="password"] {
    border: 1px solid rgb(238, 238, 238);
}



/*navigation*/
#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 180px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 180px;
    width: 0;
    height: 100%;
    top:0;
    margin-right: -180px;
    overflow-y: auto;
    background: rgb(0, 104, 179);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -180px;
}
.navigationButton {
    display: none;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.sidebar-nav li a:hover, .sidebar-nav li a.activeNav {
    text-decoration: none;
    color: rgb(132, 187, 240);
    background: rgb(0, 81, 159);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    padding: 0;
    background-color: rgb(0, 52, 97);
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}




/*welcome*/
.welcomeContent {
    padding-top: 20px;
}
.welcomeContentImg {
    width: 285px;
}
.welcomeContentTitle {
    font-weight: 600;
    color: rgb(159, 161, 164);
    letter-spacing: 8px;
}
.welcomeLogo img{
    max-width: 135px;
    fill: #94d31b; 
}
.navigationSlide {
    display: none;
}
.welcomeContact {
    text-align: center;
}
.welcomeContact span {
    display: block;
}
.welcomeContact a {
    font-size: 13px;
    line-height: 20px;
    color: rgb(0, 104, 179);
    font-weight: bold;
    text-decoration: underline;
}
.welcomeContentText p {
    padding: 10px 15px 30px;
}
.welcomeContentTextTitle {
    padding: 0;
}
.welcomeContentTextTitle h4 {
    font-weight: bold;
    color: rgb(0, 104, 179);
    /*text-decoration: underline;*/
    font-size: 1.3em;
    border-bottom: 1px solid rgb(0, 104, 179);
    width: auto;
    display: inline-block;
    margin-left: -20px;
}
.welcomeContentTextTitle h4 p {
    width: 35px;
    height: 20px;
    float: left;
}
/*bio*/
.bioPage {
    border-top: 25px solid rgb(0, 104, 179);
}
.bioPageContent {
    /*padding: 5% 0;    */
}
.bioName {
    color: rgb(0, 104, 179);
    margin: 0;
}
.bioTitle {
    margin-bottom: 5px;
    color: rgb(0, 104, 179);
}
/*speakers*/
.speakersContentText span{
    line-height: 24px !important;
    color: rgb(102, 102, 102);
    font-weight: 600;
}

.speakersContentText .speakerTable {
    margin: 10px 15px;
}
.speakersContentText .speakersContentTitlte {
    font-weight: 500;
    padding: 5px 15px;
}
.schedule {
    padding: 0 15px 15px;
}
.speakersContentText .confMemberBio, .speakersContentText .confMemberBio span {
    color: rgb(0, 104, 179);
}

#logo-link
{
	width: 180px;
    height: 112px;
	text-decoration:none;
	display:block;
	background-image:url('../images/lazard-logo.png');
	background-position: 0 0;
}
#logo-link:hover, #logo-link:active	{
    background-position:  0 112px; 
}














@media (min-width:768px) {
    #wrapper {
        padding-right: 180px;
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 180px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



@media (max-width:991px) {
    .loginContent {
        width: 100%;
    }
}


@media (max-width:767px) {
    .navigationSlide {
        display: block;
    }
    .navigationButton {
        display: block;
        background-color: inherit;
        border: none;
    }
    .navbar-toggle {
        margin-left: 15px;
    }
    .navbar {
        margin: 0;
        min-height: 35px;
    }
    #page-content-wrapper {
        padding: 0;
    }
    .welcomeContact {
        width: 33.33%;
        float: left;
    }
    .welcomeContentTextTitle h4 {
        margin: 0;
    }
    .welcomeContentTextTitle h4 p {
        width: 15px;
    }
}

@media (max-width:605px) {
    .loginContent .welcomeContentImg {
        width: 225px;
        margin-right: 15px;
    }
    .loginContent .welcomeContentTitle {
        font-size: 1.6em;
        /*letter-spacing: 7px;*/
    }
    .loginContent .loginFormContent {
        padding: 0;
        float: left !important;
        border: none;
    }
}

@media (max-width:520px) {
    .welcomeContact {
        width: 50%;
        padding-bottom: 2%;
    }
    .welcomeContact:last-child {
        width: 100%;
    }
}




























/*mail styles end*/

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}