@model foursquare.Models.HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Current = "Speakers";
}

<div class="row">
    <div class="col-xs-12 welcomeContentTextTitle">
        <h4 class="">
            <p></p>
            @*@String.Format("{0:MMMM dd, yyyy}", @Model.Speakers.Year)*@ Speakers
        </h4>
    </div>
    <div class="col-xs-12 welcomeContentText speakersContentText">
        <p>
            <span>Michael R. Bloomberg</span>, Founder, Bloomberg LP and three-term mayor of New York City<br>
            <span>Yannick Bolloré</span>, Chairman and CEO, Havas<br>
            <span>Adam Crozier</span>, Chief Executive Officer, ITV<br>
            <span>David Drummond</span>, Senior Vice President, Corporate Development, Alphabet and Chairman, Google Ventures and Google Capital<br>
            <span>Charlie Ergen</span>, Chairman and CEO, DISH Network<br>
            <span>Michael Fries</span>, President and CEO, Liberty Global<br>
            <span>Justin Fuisz</span>, Founder and CEO, Fuisz Media<br>
            <span>Steve Hasker</span>, Global President, Nielsen<br>
            <span>Alexandra Keating</span>, Co-Founder and CEO, DWNLD<br>
            <span>Max Levchin</span>, Co-Founder and CEO, Affirm; Co-Founder, Paypal<br>
            <span>Bobby Lo</span>, Founder and CEO, Vurb<br>
            <span>Michael Lynton</span>, CEO, Sony Entertainment and Chairman and CEO, Sony Pictures Entertainment<br>
            <span>Gavin Patterson</span>, Chief Executive Officer, BT Group<br>
            <span>Jonah Peretti</span>, Founder &amp; CEO, BuzzFeed<br>
            <span>Bob Pittman</span>, Chairman and CEO, iHeartMedia<br>
            <span>Richard Plepler</span>, Chairman and CEO, HBO<br>
            <span>Tom Rutledge</span>, President and CEO, Charter Communications<br>
            <span>Tom Wheeler</span>, Chairman, Federal Communications Commission<br>
            <span>David Zaslav</span>, President and CEO, Discovery Communications<br>
        </p>
    </div>
    <div class="col-xs-12 welcomeContentTextTitle">
        <h4 class="">
            <p></p>
            2015 Moderators
        </h4>
    </div>
    <div class="col-xs-12 welcomeContentText speakersContentText">
        <p>
            <span>Ken Auletta</span>, Author and Writer, <i>The New Yorker</i><br>
            <span>Maria Bartiromo</span>, Global Markets Editor, Fox Business Network, Anchor, <i>Mornings with Maria</i>, Fox Business News and <i>Sunday Morning Futures</i>, Fox News Channel<br>
            <span>Dennis Berman</span>, Financial Editor, <i>The Wall Street Journal</i><br>
            <span>Adam Bird</span>, Director and Leader, Media, Information &amp; Entertainment Practice EMEA, McKinsey &amp; Company<br>
            <span>Henry Blodget</span>, Co-Founder, CEO and Editor-in-Chief, <i>Business Insider</i><br>
            <span>Jim Citrin</span>, Leader, CEO Practice, Spencer Stuart<br>
            <span>David Faber</span>, Anchor &amp; Reporter, CNBC<br>
            <span>Steven Levy</span>, Editor-in-Chief, Backchannel<br>
            <br><span style="font-size:12px;color:666666;font-style:italic;">as of October 15, 2015</span>
        </p>
    </div>
    <div class="col-xs-12 welcomeContentTextTitle">
        <h4 class="">
            <p></p>
            2015 Program
        </h4>
    </div>
    <div class="col-xs-12 welcomeContentText speakersContentText">
        <p class="speakersContentTitlte">
            Tuesday, November 3
        </p>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                1:00 PM
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                <b>WELCOME</b><br>
                <b>CHECK-IN DESK OPENS</b><br>
                The Pierre<br>
                Outside the Grand Ballroom
            </div>
        </div>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                2:00 PM
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                <b>WELCOME</b><br>
                Ken Jacobs, <i>Chairman and CEO</i>, Lazard
                <br><br>
                <b>ONE ON ONE WITH WITH MICHAEL BLOOMBERG</b><br>
                Michael R. Bloomberg, <i>Founder</i>, Bloomberg LP and three-term mayor of New York City<br>
                <i>Moderated by</i> Ken Jacobs, <i>Chairman and CEO, </i>Lazard
                <br><br>
                <b>CLASS + MASS: BUILDING AUDIENCES IN A WORLD OF CHOICE</b><br>
                Adam Crozier, <i>Chief Executive Officer</i>, ITV<br>
                Richard Plepler, <i>Chairman and CEO</i>, HBO<br>
                <i>Moderated by</i> David Faber, <i>Anchor and Reporter, </i>CNBC
                <br><br>
                <b>WHERE THE BUCK STOPS: NEW CHALLENGES AT THE TOP</b><br>
                Michael Lynton, <i>CEO</i>, Sony Entertainment and <i>Chairman and CEO</i>, Sony Pictures Entertainment<br>
                David Zaslav, <i>President and CEO</i>, Discovery Communications<br>
                <i>Moderated by</i> Jim Citrin, <i>Leader, CEO Practice</i>, Spencer Stuart
            </div>
        </div>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                4:00 PM
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                <b>BREAK</b>
                <br><br>
                <b>SHOW ME THE MONEY: INVESTING IN DISRUPTION</b><br>
                Max Levchin, <i>Founder and CEO</i>, Affirm and <i>Chairman</i>, Glow<br>
                Gary Parr, <i>Vice Chairman</i>, Lazard<br>
                <i>Moderated by</i> Maria Bartiromo, <i>Global Markets Editor</i>, Fox Business Network
                and <i>Anchor, Mornings with Maria</i>, Fox Business News <br>
                <span style="padding-left:85px;">and <i>Sunday Morning Futures</i>, Fox News Channel</span>
                <br><br>
                <b>AGENTS OF CHANGE: MAKING INNOVATION REAL</b><br>
                David Drummond, <i>Senior Vice President, Corporate Development</i>, Alphabet and <i>Chairman</i>, Google Ventures and Google Capital<br>
                Jonah Peretti, <i>Founder and CEO</i>, BuzzFeed<br>
                <i>Moderated by</i> Ken Auletta, <i>Author and Writer, The New Yorker</i>
            </div>
        </div>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                6:00 PM
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                <b>COCKTAIL RECEPTION</b><br>
                The Pierre<br>
                Garden Foyer
            </div>
        </div>
        <p class="speakersContentTitlte">
            Wednesday, November 4
        </p>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                7:45 AM
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                <b>CONTINENTAL BREAKFAST</b><br>
                The Pierre<br>
                Garden Foyer
            </div>
        </div>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                8:30 AM
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                <b>WELCOME</b>
                <br><br>
                <b>GAME OF HOMES: BATTLE FOR THE CONNECTED CONSUMER</b><br>
                Charlie Ergen, <i>Chairman and CEO</i>, DISH Network<br>
                Tom Rutledge, <i>President and CEO</i>, Charter Communications<br>
                <i>Moderated by</i> Dennis Berman, <i>Financial Editor, The Wall Street Journal</i><br><br>
                <b>THE VIEW FROM THERE: STRATEGIES FOR A GLOBAL MARKET</b><br>
                Michael Fries, <i>President and CEO</i>, Liberty Global<br>
                Gavin Patterson, <i>Chief Executive Officer</i>, BT Group<br>
                <i>Moderated by</i> Adam Bird, <i>Director and Leader, Media, Information &amp; Entertainment Practice EMEA</i>, McKinsey &amp; Company
            </div>
        </div>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                10:00 AM
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                <b>BREAK</b>
                <br><br>
                <b>THE SMARTER SELL: MARKETING IN A MEDIA SAVVY WORLD</b><br>
                Yannick Bolloré, <i>Chairman and CEO</i>, Havas<br>
                Steve Hasker, <i>Global President</i>, Nielsen<br>
                <i>Moderated by</i> Henry Blodget, <i>Co-Founder, CEO and Editor-in-Chief, Business Insider</i><br><br>
                <b>BOB PITTMAN’S ELEVATOR PANEL</b><br>
                Bob Pittman, <i>Chairman and CEO</i>, iHeartMedia<br>
                <b>PRESENTERS:</b><br>
                Justin Fuisz, <i>Founder and CEO</i>, Fuisz Media<br>
                Alexandra Keating, <i>CEO and Co-Founder</i>, DWNLD<br>
                Bobby Lo, <i>Founder and CEO</i>, Vurb<br>
                <i>Moderated by</i> Steven Levy, <i>Editor-in-Chief,</i> Backchannel
            </div>
        </div>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                Noon
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                Concluding Luncheon and Discussion<br>
                <b>ONE ON ONE WITH TOM WHEELER</b><br>
                Tom Wheeler, <i>Chairman</i>, Federal Communications Commission<br>
                <i>Moderated by</i> Ken Auletta, <i>Author and Writer, The New Yorker</i>
            </div>
        </div>
        <div class="row schedule">
            <div class="col-lg-1 col-md-2 col-xs-3">
                2:00 PM
            </div>
            <div class="col-lg-11 col-md-10 col-xs-9">
                <b>CONFERENCE ADJOURNS</b>
            </div>
        </div>
    </div>
</div>
